body{
    background-color: black;
}

.NavLogo{
    width: 150px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: red
    
}

p{
    color: red;
}

span{
    color: white;
}

header{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    border-bottom: solid 1px white;
}
nav{ 
    width: 100%;
}

.container-nav{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.material-symbols-outlined{
    position: absolute;
    right: 32px;
    top: 42px;
}

.number{

    position: absolute;
    right: 32px;
    top: 12px;
} 

h1{
    color: red;
    
}

.greeting{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}